server:
  port: 8081
spring:
  cloud:
    config:
      server:
        git:
          default-label: 06_eureka_mult_inst
          uri: https://github.com/Elimasrojas/microservicios
          search-paths: config-data
  application:
    name: config-service


